<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <nav class="flex justify-between items-center px-20 py-7">
        <h1 class="text-3xl font-bold text-blue-700">Shop.</h1>
        <div class="flex justify-center gap-15 font-semibold">
          <ul class="flex gap-3 cursor-pointer">
            <li class="p-2"><a href="">Home</a></li>
            <li class="p-2"><a href="">Products</a></li>
          </ul>
          <ul class="flex gap-3 cursor-pointer">
            <li class="p-2"><a href="/chart">Cart</a></li>
            <li class="p-2"><a href="">My account</a></li>
          </ul>
          <ul>
            <li class="p-2 text-red-600"><a href="/users/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
      <div class="h-[2px] bg-zinc-500"></div>
</body>
</html>