<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="min-h-screen">
        <nav class="flex justify-between items-center px-20 py-7">
            <h1 class="text-3xl font-bold text-blue-700">Shop.</h1>
            <div class="flex justify-center gap-15 font-semibold">
            <ul class="flex gap-3">
                <li class="p-2">Home</li>
                <li class="p-2">Products</li>
            </ul>
            <ul class="flex gap-3">
                <li class="p-2">Cart</li>
                <li class="p-2">My account</li>
            </ul>
            </div>
        </nav>
        <div class=" h-[2px] bg-zinc-500"></div>

        <div class="flex">
            <!-- left -->
             <div class="w-[20vw] bg-red-400"></div>
             <!-- right -->
              <div class="w-[75vw] bg-yellow-400"></div>
        </div>
    </div>
</body>
</html>